<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>爱选股，您身边的股票信息专家</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 well"></div>
            <div class="col-md-9">
                <a href="/stock/filter" target="_blank" class="btn btn-primary">筛选股票</a>
                <a href="/stock/profit" target="_blank" class="btn btn-primary">计算收益率</a>
                <a href="/stock/recommend" target="_blank" class="btn btn-success">查看收益率</a>
            </div>
        </div>
    </div>
</body>
</html>