<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>爱选股，您身边的股票信息专家</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css"/>-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 well"></div>
            <div class="col-md-9">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">日期</span>
                        <input type="text" class="form-control" id="input-date">
                    </div>
                </div>
                <a href="javascript:;" target="_blank" class="btn btn-primary" id="filter">筛选股票</a>
                <a href="/stock/profit" target="_blank" class="btn btn-primary">计算收益率</a>
                <a href="/stock/recommend" target="_blank" class="btn btn-success">查看收益率</a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('#filter').on('click', function(){
            var inputDate = $('#input-date').val().trim() || 2013-06-25;
            if (!inputDate) { return }
            location.href = '/stock/filter?date=' + inputDate;
        });

    });
</script>
</html>